table {
    border-collapse: collapse;
    margin: auto;
    width: 80%;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
    width: 50%;
}

h1{
    font-family: "Inter", sans-serif;
    text-align: center;
}